/* For Home Page */
#slider {
  background-image: url(./Images/banner_bg_1.png);
  background-repeat: no-repeat;
  min-height: 130vh;
  background-size: cover;
  color: white;
}

#sliderimg {
  width: 40%;
  float: right;
  height: 90vh;
  background-image: url(./Images/banner_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 85px;
}

#slidertext {
  float: left;
  width: 55%;
  margin: 40vh auto 0px 10px;
}

.btn {
  border: 1.5px solid #f94242;

  background-color: white;
  font-weight: 600;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.btn a {
  color: rgb(255, 255, 255);
}

a:hover {
  text-decoration: none;
}

.btn:hover {
  color: rgb(255, 255, 255) !important;
  background-color: #f94242;
  text-decoration: none;
  border: 1.5px solid white;
}

/* For About */
#about {
  width: 100%;
  padding-top: 120px;
  position: relative;
  bottom: 30px;
  text-align: center;
}

#aboutHeading {
  color: red;
}

#aboutImg {
  width: 430px;
  height: 400px;
  float: left;
  background-image: url(./Images/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

#aboutText {
  float: right;
  width: 55%;
  margin-top: 50px;
}

/* For Services */
#services {
  text-align: center;
  margin: 80px auto 0px auto;
  width: 100%;
  float: left;
  color: white;
  background-image: url(./Images/banner_bg_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#services .card {
  width: 25%;
  display: inline-block;
  text-align: center;
  margin-left: 2%;
  margin-top: 30px;
  background-color: transparent;
  border: 1px solid transparent !important;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* For Price */
#price {
  text-align: center;
  padding-bottom: 30px;
}
#price h1 {
  line-height: inherit !important;
}
#price .card {
  width: 25%;
  display: inline-block;
  text-align: center;
  margin-left: 2%;
  margin-top: 30px;
  border: 1px solid transparent !important;
}
.card-body {
  padding: 0 !important;
  width: 100% !important;
}

/* For Team */
#team {
  text-align: center;
  background-image: url(./Images/banner_bg_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#team h1 {
  margin-top: 100px;
}

.teamtext img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.teamtext {
  display: inline-block;
  text-align: center;
  width: 30%;
}

/* For Contact */
#contact {
  padding-top: 110px;
  text-align: center;
}

.contactUs {
  width: 50%;
  margin: auto;
  padding: 20px;
}

#contact button {
  background-color: #fb5353;
  color: white;
}
#contact button:hover {
  background-color: #fb5353;
  color: aliceblue !important;
}

/* For Footer */
.myfooter {
  text-align: center;
  width: 100%;
  background-color: black;
  float: left;
}

.myfooter .card {
  display: inline-block;
  text-align: center;
  border: 0px none white !important;
  background-color: black;
  color: white;
  width: 30%;
  margin-left: 3%;
}

#rights {
  text-align: center;
  color: white;
}

.myfooter img {
  border-radius: 50%;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}
